.layout {
  display: flex;
  min-height: 100vh;
  background-color: #fffdef;
}

.layout-main {
  flex: 1;
  margin-left: 296px;
  min-height: 100vh;
  background-color: #fffdef;
}

@media (max-width: 768px) {
  .layout-main {
    margin-left: 200px;
  }
}

