.container {
  background-color: #F9F9F6;
  min-height: 100vh;
  flex-direction: column;
  color: #333;
}


.laundry-title {
  font-size: 25px;
  margin-bottom: -10px;
  /* Reduce space between title and date */
}

.laundry-text-content {
  margin-left: 350px;
  /* Offset for the FloatingBar */
  padding-top: 30px;
  /* Apply padding here to position the title */
  padding-left: 20px;
  /* Add some padding to the left of the content */
}

.wash-mac-list {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  justify-content: center; /* Center items within the list */
  /* Removed margin-left: 50px; if it was present, to allow centering */
}

.wash-mac-item {
  padding: 15px;
  text-align: center;

}

.wash-mac-image-wrapper {
  position: relative;
  width: 400px;
  /* Adjust image wrapper size */
}

.wash-mac-image {
  width: 100%;
  height: 100%;
  margin-top: -30px;
}

.wash-mac-number {
  font-size: 18px;
}

.wash-mac-status {
  font-size: 18px;
  margin-top: -30px;

}

.current-date {
  font-size: 20px;
  color: #616161;
}
.reservationBox {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
}
.resvTime {
  margin-left: 230px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.resvBox {
  border: #E0E0E0 solid;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: -40px;
  height: 370px;
  width: 1109px;
  padding: 20px; /* Add padding to contain the grid */
  box-sizing: border-box; /* Include padding in width/height */
}

.reservation-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: 100%;
  column-gap: 250px;
  place-items: center; /* Center grid items if they are smaller than grid cells */
}

.reservation-slot, .reserved-slot-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-slot.available {
  border: 1px solid #E0E0E0; /* Updated border */
  border-radius: 10px;
  background-color: white; /* Updated background color */
  cursor: pointer;
  width: 106px; /* Updated width */
  height: 62px; /* Updated height */
  transition: background-color 0.3s;
}

.reservation-slot.available:hover {
  background-color: #fffadc;
}

.reservation-slot.selected {
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  background-color: white; /* Changed from #fffadc back to white */
  width: 106px;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Space out room and name */
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: default; /* Not clickable anymore */
}

.reserved-slot-content {
  color: #888;
  font-size: 1.2em;
  font-weight: bold;
}

.slot-room {
  font-size: 0.8em;
  color: #555;
}

.slot-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}